@import "base";

.weddingPartyCard {
  @include card();
  flex-wrap: wrap;
}

.title {
  @include col(4);
  @include breakpoint(tablet) {
    @include col(12);
  }
}

.grid {
  @include col(4);
  @include breakpoint(tablet) {
    @include col(12);
  }
  display: flex;
  justify-content: space-around;
}

.person {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2px;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.7);
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

.name {
  text-align: center;
}
